@page
@model LoginModel

<section class="conteiner-logout-singup forms">
    <div class="form login">
        
        <div class="form-content">

            <header class="login-header">Увійти</header>

            <form id="account" class="login-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="field input-field">
                    <input asp-for="Input.Email" type="email" autocomplete="username" placeholder="Email" class="input-email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="field input-field">
                    <input asp-for="Input.Password" type="password" autocomplete="current-password" placeholder="Пароль" class="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-link">
                    <a id="forgot-password" asp-page="./ForgotPassword" class="forgot-pass">Забули пароль?</a>
                </div>

                <div class="field button-field">
                    <button id="login-submit" type="submit">Увійти</button>
                </div>

            </form>

            <div class="form-link">
                <span>У вас не має облікового запису? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="singup-link">Зареєструватись</a></span>
            </div>

        </div>

        <div class="line"></div>

        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                @foreach (var provider in Model.ExternalLogins)
                {
                    @if (provider.Name.ToLower().Contains("facebook"))
                    {
                        <div class="media-options">
                            <button class="field facebook" type="submit" name="provider" value="@provider.Name" title="Зареєструватись використовуючи ваш @provider.DisplayName акаунт">
                                <i class="fab fa-facebook-f log-facebook-icon"></i>Увійти за допомогою @provider.DisplayName
                            </button>
                        </div>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                    }
                }
        </form>

    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
