@page
@model RegisterModel
@using SmartStore_Utility

<section class="conteiner-logout-singup forms">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form singup">

        <div class="form-content">

            @if (User.IsInRole(WC.AdminRole))
            {
                <header class="login-header">Зареєструвати акаунт адміністратора</header>
            }
            else
            {
                <header class="login-header">Зареєструватись</header>
            }

            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" id="login-form">

                <div class="field input-field">
                    <input asp-for="Input.FullName" type="text" placeholder="Ім'я та прізвище" class="input-email" />
                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                </div>

                <div class="field input-field">
                    <input asp-for="Input.Email" type="email" placeholder="Email" class="email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="field input-field">
                    <input asp-for="Input.PhoneNumber" type="text" placeholder="Номер телефону" class="phone" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>

                <div class="field input-field">
                    <input asp-for="Input.Password" type="password" placeholder="Пароль" class="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="field input-field">
                    <input asp-for="Input.ConfirmPassword" type="password" placeholder="Повторити пароль" class="password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="field button-field">
                    <button type="submit">Зареєструватись</button>
                </div>

            </form>

            <div class="form-link">
                <span>У вас є обліковий запис? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="login-link">Увійти</a></span>
            </div>

        </div>

        <div class="line"></div>

        @if (!User.IsInRole(WC.AdminRole))
        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                @foreach (var provider in Model.ExternalLogins)
                {
                    @if (provider.Name.ToLower().Contains("facebook"))
                    {
                        <div class="media-options">
                            <button class="field facebook" type="submit" name="provider" value="@provider.Name" title="Зареєструватись використовуючи ваш @provider.DisplayName акаунт">
                                <i class="fab fa-facebook-f log-facebook-icon"></i>Зареєструватись з @provider.DisplayName
                            </button>
                        </div>
                    }
                    else
                    {
                        <button type="submit" class="field facebook" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                    }
                }
            </form>
        }
        

    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}