@model List<SmartStore_Models.Product>
@using SmartStore_Utility

@if (Model.Count() > 0)
{
    <form method="post">
        <br />
        <div class="col -8">
            <div class="card mt-4">

                <div class="cart-title-container">
                    <div class="cart-title">
                        <i class="fa fa-shopping-cart"></i> &nbsp; Кошик
                    </div>
                </div>
                <hr />

                <div class="card-body">

                    @{
                        var orderTotal = 0.0;
                    }

                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <input hidden asp-for="@Model[i].Id" />
                        
                        <div class="cart-item-box">
                            
                            <div class="col-4 col-md-2 text-center py-2">
                                <img src="@WC.ImagePath@Model[i].Image" class="rounded" width="100%" />
                            </div>

                            <div class="col-lg-7">
                                <h5>@Model[i].Name</h5>
                            </div>

                            @if (User.IsInRole(WC.AdminRole))
                            {
                                <div class="col-4 col-lg-2 pt-lg-4" style="font-size:11px;">
                                    <input type="text" asp-for="@Model[i].TempQuantity" class="form-control" />
                                    <span asp-validation-for="@Model[i].TempQuantity" class="text-danger"></span>
                                </div>
                            }

                            @if (Model[i].DiscountPrice != null)
                            {
                                <div class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                    <span style="font-size:17px;"> @string.Format("{0:N0} ₴", Model[i].DiscountPrice)</span>
                                </div>
                            }
                            else
                            {
                                <div class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                    <span style="font-size:17px;"> @Model[i].Price.ToString("N0") ₴</span>
                                </div>
                            }

                            
                            @* if (Model[i].DiscountPrice != null)
                            {
                                <div class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                    <span style="font-size:17px;"> @(Model[i].DiscountPrice * Model[i].TempQuantity)</span>
                                </div>
                            }
                            else
                            {
                                <div class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                    <span style="font-size:17px;"> @(Model[i].Price * Model[i].TempQuantity)</span>
                                </div>
                            } *@

                            <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                                <a asp-action="Remove" asp-route-id="@Model[i].Id" class="delete-button-icon">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>


                        if (Model[i].DiscountPrice.HasValue && Model[i].Price != 0)
                        {
                            orderTotal += Model[i].DiscountPrice.Value * Model[i].TempQuantity;
                        }
                        else
                        {
                            orderTotal += Model[i].Price * Model[i].TempQuantity;
                        }

                        <hr />
                    }

                </div>

                @if (User.IsInRole(WC.AdminRole))
                {
                    <div class="update-cart">
                        <input type="submit" asp-action="UpdateCart" formmethod="post" name="Update" value="Оновити кошик" class="update-cart-button" />
                    </div>
                }

                <div class="cart-footer">

                    <div class="continue-shopping">
                        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info btn-sm">Продовжити покупки</a>
                    </div>

                    <div class="placing-an-order">
                        <h3>@string.Format("{0:c}", orderTotal)</h3>
                        <button type="submit">
                            <span>Оформити замовлення</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </form>
}
else
{
    <p class="text-center" style="font-size:24px;">Кошик порожній</p>
    <p class="text-center" style="font-size:20px;">Але це ніколи не пізно виправити :)</p>
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}